
{% extends "appbuilder/base.html" %}
{% block content %}
<h2><center>{{_('Subscribe To Intuition Machine')}}<center></h2>

<!--<div class="index">
<form action="" method="POST">
  
  <div class="form-group">
    <label >Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label >Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label >First Name</label>
    <input type="input" class="form-control" id="fname" placeholder="">
  </div>
  <div class="form-group">
    <label >Last Name</label>
    <input type="input" class="form-control" id="lname" placeholder="">
  </div>
  <div class="form-group">
    <label >City</label>
    <input type="input" class="form-control" id="city" placeholder="">
  </div>
  <div class="form-group">
    <label >State</label>
    <input type="input" class="form-control" id="state" placeholder="">
  </div>
  <div class="form-group">

    <label >Postal</label>
    <input type="input" class="form-control" id="postal" placeholder="">
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input type="input" class="form-control" id="fname" placeholder="">
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input type="input" class="form-control" id="fname" placeholder="">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
-->
{% endblock %}



